.speech
{
    color:black;
    font-style: Times New Roman;
    font-size: 15px;
}

.direction
{
    color:rgb(225, 46, 15);
    font-style:Cambria;
    font-size:10px;
    background-color:rgb(177, 208, 214);
}
.direction:hover 
{
    color:black;
    background-color: rgb(240, 163, 163);
}

.ZAMA
{
    background-color:rgb(29, 123, 123);
    font-style: italic;
    font-size: 15px;
}
.rick
{
    background-color:rgb(28, 57, 154);
    font-style: italic;
    font-size: 15px;
}
.table{
    border: 2px solid rgb(145, 50, 129);
    height: 40px;
    vertical-align: bottom;
    padding: 15px;
    border-bottom: 6px solid  rgb(198, 140, 92);
}
.th{
    height: 50px;
    text-align: center;
    border-top:7pX solid black;
    border-bottom: 2px solid rgb(202, 229, 133);
    border-left: 3px solid rgb(115, 49, 168);
    border-right: 3px solid rgb(146, 42, 63);
}
.td{
    border: 2px solid rgb(178, 212, 38);
    height: 30px;
    vertical-align: bottom;
    padding: 20px;
    border-bottom: 2px solid rgb(197, 151, 16);
}
tr:nth-child(even){
    background-color: rgb(106, 15, 113);
}
tr:nth-child(odd) {
    background-color: rgb(21, 145, 122);
}
.ZAMA:hover
{
    width:100px;
    height: 50px;
    box-shadow:10px 10px 5px #60a060;
    font-size: 15px;
    padding: 3px;
}
.rick:hover
{
    width:100px;
    height: 50px;
    box-shadow:10px 10px 5px #bdc7bd;
    font-size: 15px;
    padding: 3px;
}
.nav ul{
    list-style-type: none;
    width: 60px;
    padding: 5px;
    margin: 5px solid;

}
.nav li{
    list-style-type: none;
    display: block;
    float: left;
    background-color: darkgoldenrod;
    border: 1px solid;
    color: aqua;
}

